[user]
	email = Your email
	name = Your name
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	st = status
	ci = commit
	br = branch
	co = checkout
	ll = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	ps = push
	a = add
	df = diff
	pl = pull
	m = merge
